@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.landing-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/7481714.jpg'); /* Caminho da imagem */
    background-size: cover; /* Faz com que a imagem cubra toda a área */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* A imagem de fundo ficará fixa ao rolar a página */
  }
  label{
    color: white;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    gap: 20px;
  }
  
  .form-section {
    flex: 1;
    padding: 40px 40px;
    max-width: 500px;
    text-align: left;
    background-color: rgba(22, 0, 73, 0.445);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #ffffff;
  }
  .p a{
    color: rgb(255, 255, 255);
  }
  
  p {
    font-size: 1.1em;
    color: #d3d3d3;
    margin-bottom: 30px;
  }
  
  /* Formulário */
  .user-form {
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1.1em;
    background-color: #f8f9fa;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .form-input:focus {
    border-color: #7000b1;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: #fff;
  }
  
  .error-message {
    color: #e74c3c;
    font-size: 0.9em;
    margin-top: 5px;
    font-weight: bold;
  }
  
  .submit-button {
    width: 100%;
    background-color: #8300da;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #5c00b3;
  }
  
  /* Imagem */
  .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  