<div class="landing-page">
  <div class="container">
    <div class="form-section">
      <h1>Welcome to Our Platform</h1>
      <p>Join us and get started on your journey!</p>

      <!-- Formulário de registro -->
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="user-form">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            id="name"
            type="text"
            [(ngModel)]="user.name"
            name="name"
            required
            #name="ngModel"
            class="form-input"
            placeholder="Enter your name"
          />
          <div *ngIf="userForm.submitted && name.invalid" class="error-message">
            Name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input
            id="email"
            type="email"
            [(ngModel)]="user.email"
            name="email"
            required
            #email="ngModel"
            class="form-input"
            placeholder="Enter your email"
          />
          <div *ngIf="userForm.submitted && email.invalid" class="error-message">
            Valid email is required.
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input
            id="password"
            type="password"
            [(ngModel)]="user.password"
            name="password"
            required
            minlength="6"
            #password="ngModel"
            class="form-input"
            placeholder="Create a password"
          />
          <div *ngIf="userForm.submitted && password.invalid" class="error-message">
            Password must be at least 6 characters.
          </div>
        </div>

        <button type="submit" class="submit-button">Register</button>
        <div class="p">
          <p>you have account? <a href="/login">LogIn</a></p>
        </div>
      </form>
    </div>

    <div class="image-section">
      <img src="Innovation-amico.svg" alt="">
      <img [src]="imageUrl" alt="Illustration" />
    </div>
  </div>
</div>

<router-outlet></router-outlet>
